body {
    font-family: Arial, Helvetica, sans-serif;
}


/* ESTILOS GENERALES */

nav {
    float: right;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    line-height: 3rem;
    position: relative;
}

nav li ul {
    position: absolute;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 0 2.5em;
    color: aqua;
    transition: .4s;
}

nav a:hover {
    background: rgba(0, 0, 0, .5);
}


/* PRIMER NIVEL */

nav>ul {
    background: #333;
    display: table;
    width: 100%;
}

nav>ul>li {
    float: left;
}


/* SEGUNDO NIVEL */

nav li li {
    background: #222;
    max-height: 0;
    overflow: hidden;
    transition: all .6s;
    width: 150px;
}

nav li:hover li {
    max-height: 500px;
    overflow: visible;
}

btnCharacter {
    width: 15%;
    height: 30px;
    color: aqua;
    background-color: black;
    margin-top: 10%;
    margin-left: 30%;
    border: none;
}

.btnMale {
    width: 15%;
    height: 30px;
    color: aqua;
    background-color: black;
    margin-top: 10%;
    margin-left: 2%;
    border: none;
}

.btnFemale {
    width: 15%;
    height: 30px;
    color: aqua;
    background-color: black;
    margin-top: 10%;
    margin-left: 2%;
    border: none;
}

.btnAz {
    width: 15%;
    height: 30px;
    color: aqua;
    background-color: black;
    margin-top: 10%;
    margin-left: 2%;
    border: none;
}