    body {
        font-family: 'Roboto', sans-serif;
        background-image: url("https://github.com/marcelalopeznanco/imagenes-rick/blob/master/2.jpg?raw=true");
        background-attachment: fixed;
        background-size: cover;
    }
    /* ESTILOS GENERALES */
    
    nav {
        float: right;
    }
    
    nav ul {
        list-style: none;
        padding: 0;
    }
    
    nav li {
        line-height: 3rem;
        position: relative;
    }
    
    nav li ul {
        position: absolute;
    }
    
    nav a {
        text-decoration: none;
        font-weight: bold;
        display: block;
        padding: 0 2.5em;
        color: #e5d700;
        transition: .4s;
    }
    
    nav a:hover {
        background: rgba(0, 0, 0, 0.9);
    }
    /* PRIMER NIVEL */
    
    nav>ul {
        display: table;
        width: 100%;
    }
    
    nav>ul>li {
        float: left;
    }
    /* SEGUNDO NIVEL */
    
    nav li li {
        background: rgba(0, 0, 0, .9);
        max-height: 0;
        overflow: hidden;
        transition: all .6s;
        width: 200px;
    }
    
    nav li:hover>ul>li {
        max-height: 1000px;
        overflow: visible;
    }
    /* TERCER NIVEL */
    
    nav ul ul ul {
        left: 100%;
        top: 0;
    }
    /* `botones orden alfabetico */
    
    .btnAz {
        width: 100%;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 20px;
        font-weight: bold;
        color: #e5d700;
        background: #1111;
    }
    
    .btnAz:hover {
        background-color: rgba(0, 0, 0, 0.9);
        text-decoration: none;
    }
    
    .btnZa {
        width: 100%;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 20px;
        font-weight: bold;
        color: #e5d700;
        background: #1111;
    }
    
    .btnZa:hover {
        background-color: rgba(0, 0, 0, 0.9);
        text-decoration: none;
    }
    
    .container-fluid {
        display: flex;
        flex-direction: row;
        align-content: flex-end;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: center;
        padding-top: 10%;
        width: 100%;
    }
    
    img {
        width: 100%;
    }
    
    .Cards {
        margin: 1em;
        padding: 10%;
        background: rgba(3, 3, 3, 0.568);
        border-radius: 50px;
        text-align: center;
        align-content: flex-start;
        align-content: center;
    }
    
    .Cards-body {
        text-align: center;
        padding: 20px;
        color: #fdfd99;
        font-size: 20px;
        font-weight: bolder;
        align-content: center;
    }
    
    .footer {
        color: white;
        text-align: center;
        padding-block-start: 25%;
    }